.container-big {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.container-small {
  max-width: 1200px;
  width: 70%;
  margin: 0 auto;
}

[class^="col"] {
  background-color: rgba(139, 69, 19, 0.301);
}

header {
  height: 80px;
  background-color: #2C3E50;
}


.jumbo, .about {
  background-color: #1ABC9C;
}

.avatar {
  width: 200px;
}

.card-custom {
  border-radius: 10px;
  object-fit: contain;
  position: relative;
}

.fa-plus {
  font-size: 10rem;
  color: white;
}

.posing {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.233);
  display: none;
}

.fa-plus, .posing{
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 50% -50%;
}

.card-custom:hover .posing{
  display: block;
}

.line{
  width:15%;
  height: 4px;
  display: inline-block;
}

.sub-title {
  font-size: 1.6rem;
}

.image{
  border-radius: 20px;
}

.btn-about {
  width: 120px;
  background-color: #1ABC9C;
  border: 1px solid white;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
}

.btn-about:hover{
  background-color: rgba(255, 255, 255, 0.582);
  border: 1px solid #1ABC9C;
}

.btn-about:hover i,
.btn-about:hover span{
  color: #1ABC9C;
}

.button-contact{
  background-color: #1ABC9C;
}

.input-melo {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.info {
  background-color:#2C3E50 ;
}

footer {
 background-color: #3A546D;
}
