.container-big {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.container-small {
  max-width: 800px;
  width: 60%;
  margin: 0 auto;
}

[class^="col"] {
  background-color: rgba(139, 69, 19, 0.301);
}

header {
  height: 80px;
  background-color: #2C3E50;
}

.jumbo, .about {
  background-color: #1ABC9C;
}

.sub-title {
  font-size: 1.5rem;
}
.info {
  background-color:#2C3E50 ;
}

footer {
 background-color: #3A546D;
}
